    <ion-view view-title="My Portfolio">
	<ion-pane>
      <ion-header-bar class="bar-stable ">
	 
        <h1 class="title">Portfolio</h1>
		
		
		<button class="button button-icon icon-right ion-plus-circled" ng-click="addNew()"></button>
      </ion-header-bar>	 
	<div class="bar bar-subheader" ng-show="showHideDays()">	
		<div class="item range item item">
			<h4>{{minDays}}</h4>
			<input type="range" ng-model="daysOpted" min={{minDays}} max={{maxDays}}>
			<h4>{{maxDays}}</h4>
			<button class="button button-icon icon-right ion-checkmark-circled" ng-click="hideDays()"></button>			
		</div>
	</div>	  
      <ion-content>	  
	<div >
		<div class="list" ng-repeat="drugs in drugsInfo">
		 <ion-item class="item-stable item-icon-left item-icon-right"
                    ng-click="showHideDrug(drugs)"
                    ng-class="{active: isDrugEditShown(drugs)}">
              <i class="icon" ng-class="isDrugEditShown(drugs) ? 'ion-android-contract' : 'ion-android-expand'"></i>            
            {{drugs.name}} {{drugs.strength}} {{drugs.dosage}} times a day
			<i class="icon" ng-class="'ion-trash-a'" ng-click="deleteDrug($index)"></i>
          </ion-item>
		  <ion-item class="item-accordion" ng-show="isDrugEditShown(drugs)">
            	<label class="item item-input item-floating-label">
					<span class="input-label">Drug Name</span>
					<input ion-autocomplete readonly="readonly" class="ion-autocomplete"  ng-model-options="{debounce:1000}" item-value-key="name" items-method-value-key="drugs" autocomplete="on" item-view-value-key="name" max-selected-items="1" items-method="callbackMethod(query)"  type="text" ng-model="drugs.name" placeholder="Drug Name">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Strength</span>
					<input type="text"  ng-model="drugs.strength" placeholder="Strength">
				</label>			
				<label class="item item-floating-label">
					<span class="input-label">Dosage {{drugs.dosage}} times a day</span>	
					<div class="item range item item">
						<h4>{{minDosage}}</h4>
						<input type="range" ng-model="drugs.dosage" min={{minDosage}} max={{maxDosage}} value="2">
						<h4>{{maxDosage}}</h4>			
					</div>												
					

				</label>							
          </ion-item>
		</div>	
	</div>
	
      </ion-content>
	  <div class="bar bar-footer ">
	   <h1 class="button button-clear button button-icon ion-edit" ng-click="showDays()">
			{{daysOpted}} days
		</h1>
		<!-- h1 class="title button button-full button-block button-positive button-large padding-bottom" ng-click="placeOrder()">Place Order</h1 -->				
	  </div>
	 
    </ion-pane>
	</ion-view>
